body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #e8eaf6;
  line-height: 1.6;
  font-size: 18px;
}

.featurette-divider {
  margin: 5rem 0;
}

#page-title {
  text-align: center;
}
